.l_block {
	margin: 10px;
	width: 520px;
	font-size: 20px;
	color: #E60000;
}

.r_field {
	margin: 5px;
	width: 250px;
	text-align: left;
	color: #E60000;
	text-shadow: 0 0 4px rgba(0,0,0,0.3);
	border: 2px inset rgba(255,102,102,1); 
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-khtml-border-radius:3px;
}

.r_field:focus {
	box-shadow: 0 0 3px rgba(230,0,0,0.8);
	background: rgba(255,102,102,0.1)
}

.ml_block {
	float: left;
	width: 250px;
}

.r_button{
	cursor: pointer;
	margin-top: 12px;
	margin-left: 5px;
	margin-bottom: 10px;
	text-align: center;
	color: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	width: 500px;
	height: 30px;
	background: rgba(230,0,0,0.8);
	border: 2px inset rgba(255,102,102,1); 
	border-radius:0px 0px 3px 3px;
	-webkit-border-radius:0px 0px 3px 3px;
	-moz-border-radius:0px 0px 3px 3px;
	-khtml-border-radius:0px 0px 3px 3px;
	font-weight: bold;
	border-top: none;
}

.r_button:hover {
	background: rgba(255,255,255,0.8);
	color: #E60000;
}